* {
  all: unset;
  font-size: 18px;
  // font-family: FiraCode Nerd Font;
  // font-family: Symbols Nerd Font;
}

.center {
  margin-top: 10px;
  padding: 0px 8px 0px 8px;
  border-radius: 10px;
  background-color: #111;
  button {
    border-radius: 10px;
    
    &:hover {
      color: #000000;
      background-color: #bcbcbc;
    }
  }
}

.right {
  margin: 10px 10px 0px 0px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background-color: #111;
}

.audio {
  margin: 0px 10px 0px 10px;
}

.battery {
  margin: 0px 10px 0px 10px;
}

.works {
  margin: 10px 0px 0px 10px;
  border-radius: 10px;
  background-color: #111;

  box {
    margin: unset;
  }

  button {
    border-radius: 10px;
    
    &:hover {
      color: #000000;
      background-color: #bcbcbc;
    }
  }

  .w0 {
    color: #606060;
  }
  
  .w01 {
    color: #959595;
  }
  
  .w011 {
    color: #ffffff;
  }
}

.submaps {
  margin: 10px 0px 0px 10px;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background-color: #911;

  box {
    margin: unset;
  }
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 4px;
  min-height: 16px;
  min-width: 90px;
  margin-left: 2px;

  highlight {
    all: unset;
    background-color: #bcbcbc;
    color: #000000;
    border-radius: 4px;
  }
}

menu {
  background-color: #111;
  border-radius: 4px;
}
